Package: itexmacs
Version: 1.0.7.7
Section: editors
Priority: optional
Maintainer: Zou Hu <zohooo@yeah.net>
Homepage: http://code.google.com/p/itexmacs
Architecture: i386
Installed-Size: 24422
Depends: x11-apps, x11-session-utils, x11-utils, libqtcore4, libqtgui4, ghostscript-x, groff, mlocate | slocate | locate | findutils (<< 4.2.31-2), ttf-arphic-bsmi00lp, ttf-arphic-bkai00mp
Recommends: netpbm, libjpeg-progs | libjpeg-mmx-progs, libtiff-tools, ispell, librsvg2-bin, xfig, imagemagick
Suggests: wget, python
Enhances: axiom, maxima, octave, pari-gp, yacas, r-base
Description: WYSIWYG mathematical text editor using TeX fonts
 iTeXmacs is a free scientific text editor, which is based on GNU
 TeXmacs with the aim of making it more easy to use.
 .
 The editor allows you to write structured documents via a WYSIWYG
 (what-you-see-is-what-you-get) and a user friendly interface. New
 styles may be created by the user. The program implements
 high-quality typesetting algorithms and TeX fonts, which help you to
 produce professionally looking documents.
 .
 The high typesetting quality still goes through for automatically
 generated formulas, which makes iTeXmacs suitable as an interface for
 computer algebra systems. iTeXmacs also supports the Guile/Scheme
 extension language, so that you may customize the interface and write
 your own extensions to the editor.
 .
