[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=iTeXmacs
Exec=texmacs
Comment=
Icon=/usr/local/share/TeXmacs/misc/images/itexmacs.png
Terminal=false
Categories=Application;Office;WordProcessor;
StartupNotify=false
MimeType=
